.heading {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 58px;
    }
    
    @media screen and (max-width: 1184px) {
        .heading {
            margin-top: 50px;
            margin-right: 48px;
            margin-left: 48px;
            }
    }
    
@media screen and (max-width: 896px) {
    .heading {
        margin-right: 0;
        margin-left: 0;

    }
}