.cover__link {
    background-image: url(../../../images/cover-route-66.jpg);
    min-height: 740px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 1;
    position: relative;
}

.cover__link:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition-property: opacity;
}

.cover__link:hover:after {
    opacity: 0.8;
}

@media screen and (max-width: 1184px) {
    .cover__link {
        min-height: 640px;
    }
}

@media screen and (max-width: 896px) {
    .cover__link {
        min-height: 480px;
    }
}

@media screen and (max-width: 540px) {
    .cover__link {
        min-height: 200px;
        }
}