.article {
    width: 58%;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 92px;

}

@media screen and (max-width: 1184px) {
    .article {
        width: 77%;
        margin-right: 48px;
        margin-left: 48px;
}
}

@media screen and (max-width: 896px) {
    .article {
        margin-top: 88px;
        margin-right: 24px;
        margin-left: 24px;

    }
}

@media screen and (max-width: 540px) {
    .article {
            margin-top: 64px;
            margin-right: 16px;
            margin-left: 16px;
        }
}