.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFDFD;
    max-width: 386px;
    margin: 30px auto 0 auto;
    z-index: 1;
}

@media screen and (max-width: 896px) {
    .cover__subtitle {
    }
}