.header {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    margin-top: 34px;
    margin-left: 100px;
    margin-right: 100px;
}

@media screen and (max-width: 1184px) {
    .header {
        margin-right: 48px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 896px) {
    .header {
        margin-right: 24px;
        margin-left: 24px;

    }
}

@media screen and (max-width: 540px) {
    .header {
        margin-top: 20px;
        margin-left: 16px;
        margin-right: 16px;
    }
}