.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
    opacity: 1;
}

@media screen and (max-width: 540px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-top: 32px;
        }
}

.footer__link:hover {
    opacity: 0.8;
}