.place__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    margin-top: 25px;
}

@media screen and (max-width: 896px) {
    .place__paragraph {
        font-size: 16px;

    }
}

@media screen and (max-width: 540px) {
    .place__paragraph {
        margin-left: 16px;
        margin-right: 16px;
        }
}

.place__paragraph:nth-of-type(1) {
    margin-top: 48px;
}