.place__row2 {
        display: flex;
    }
    
    @media screen and (max-width: 540px) {
        .place__row2 {
            flex-direction: column;
            align-items: flex-start;
            }
    }