.place {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 80px;
}

@media screen and (max-width: 1184px) {
    .place {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.place:nth-of-type(1) {
    margin-top: 92px;
}

@media screen and (max-width: 896px) {
    .place {
        margin-top: 88px;
    }
}