.place__website-url {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.2em;
    margin-top: 30px;
    color: #AAAAAA;
    margin-bottom: 0;
}