.place__second-row {
        display: flex;
    }
    
    @media screen and (max-width: 540px) {
        .place__second-row {
            flex-direction: column;
            align-items: flex-start;
            }
    }